@use "@/styles/mixins" as *;

.page {
  padding: 2rem 0;
}

.container {
  gap: var(--size-6);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 380px;
  max-width: 1400px;

  @include max(1200px) {
    grid-template-columns: 1fr;
    gap: var(--size-5);
  }

  @include max(768px) {
    gap: var(--size-5);
  }
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: var(--size-6);

  & > * {
    min-height: 0 !important;
  }
}

.header {
  margin-bottom: 0.75rem;
}

.titleSection {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 2rem;
}

.title {
  font-size: 2.25rem;
  font-weight: 600;
  color: var(--text-primary);
  margin: 0;

  @include max(768px) {
    font-size: 1.75rem;
  }
}

.priceInfo {
  display: flex;
  align-items: flex-end;
  gap: 1.5rem;
}

.price {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary);
}

.priceChange {
  font-size: 0.95rem;
  color: var(--danger-medium);
  font-weight: 500;
}

.sidebar {
  align-self: start;
  position: sticky;
  top: 125px;

  @include max(1200px) {
    position: static;
    order: -1;
  }
}
