@use "@/styles/mixins" as *;

.container {
  gap: var(--size-6);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 400px;

  @include max(1100px) {
    grid-template-columns: 1fr;
  }

  @include max(768px) {
  }
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: var(--size-6);

  & > * {
    min-height: 0 !important;
  }
}

.header {
  margin-bottom: 1rem;
}

.titleSection {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  font-size: 2rem;
  font-weight: 200;
  color: var(--text-primary);
  margin: 0;

  @include max(768px) {
    font-size: 1.5rem;
  }
}

.priceInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.price {
  font-size: 2rem;
  font-weight: 600;
  color: var(--blue);
}

.priceChange {
  font-size: 1rem;
  color: var(--danger-medium);
}

.sidebar {
  align-self: start;
  position: sticky;
  top: 125px;

  @include max(1100px) {
    position: static;
    order: -1;
  }
}
