@use "@/styles/mixins" as *;

.content {
  display: flex;
  flex-direction: column;
  gap: calc(var(--card-gap) / 2);
  margin-top: .5rem;
}

.governanceInfo {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.infoItem {
  padding: 1.5rem;
  background: var(--background-low);
  border: 1px solid var(--border-light);
  border-radius: var(--radius-s);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.infoHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--text-secondary);
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.actions {
  display: flex;
  gap: 0.5rem;
}

.addressValue {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--text-primary);
  font-family: monospace;
}

.fullAddress {
  font-size: 0.75rem;
  color: var(--text-secondary);
  font-family: monospace;
  word-break: break-all;
}

.dateValue {
  font-size: 1.125rem;
  font-weight: 600;
  color: var(--text-primary);
}
