@use "@/styles/mixins" as *;

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem 0;
}

.modalDescription {
  margin: 0;
  opacity: 0.7;
  font-size: 0.9rem;
}

.modalActions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-top: 0.5rem;
}

.tabContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
}


.tabButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
 
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%; // Ensures each button fills its grid cell

  &:hover, &.tabButtonActive {
    background: #0000ff;
    color: #ffffff;
  }

 

  @include max(640px) {
    padding: 0.4rem 0.8rem;
    font-size: 0.875rem;
  }
}
