@use "styles/mixins" as *;

.header {
  --header-padding: calc(32px + 16 * (100vw - 320px) / 1080);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-s);
  z-index: 100;
  top: 0;
  position: sticky;
  pointer-events: none;
  padding: var(--header-padding) 0;

  button,
  a {
    pointer-events: auto;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    background: linear-gradient(to bottom, var(--body), rgba(0, 0, 0, 0));
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  [data-variant] {
    @include backdrop(16px);
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--container-width);
  max-width: var(--container-max);
  margin: auto;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background: radial-gradient(var(--primary-medium) 0%, transparent 70%);
    width: 40%;
    bottom: 50%;
    left: -50px;
    filter: blur(60px);
    top: -150px;
    pointer-events: none;
    @include performance;
  }
}

.logotype {
  height: var(--size-7);
  margin-bottom: var(--size-1-5);
  overflow: visible;
  display: block;

  svg {
    height: 100%;
    overflow: visible;
  }

  @include max($responsiveMobile) {
    height: var(--size-6);
  }
}

.right {
  display: flex;
  margin-left: auto;
  gap: var(--size-1-5);

  @include max($responsivePointsModal) {
    & > [data-button-points] {
      display: none;
    }
  }
}
