@use "styles/mixins" as *;

.sub {
  font-weight: 450;
  color: var(--sub-color, var(--text-primary));
  border: 1px solid var(--sub-border, var(--border-light));
  background-color: var(--sub-bg, var(--background-lower));
  display: inline-flex;
  align-items: center;
  border-radius: 50px;
  padding: 0.4em;
  padding-right: 0.75em;
  gap: 0.35em;
  letter-spacing: -0.015em;

  svg {
    width: 1.25em;
    fill: currentColor;
  }
}
