@use "@/styles/mixins" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  
  @include max(768px) {
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
  }
}

.periodSelector {
  display: flex;
  gap: 0.5rem;
}

.chartContainer {
  width: 100%;
  margin-top: 1rem;
}

.chart {
  :global(.recharts-area) {
    stroke: var(--primary-medium) !important;
  }
  
  :global(.recharts-area-dot) {
    fill: var(--primary-medium) !important;
  }
  
  :global(.recharts-cartesian-grid) {
    stroke: rgba(var(--tertiary-rgb), 0.1) !important;
  }
}
