@use "styles/mixins" as *;

.heading {
  font-size: var(--heading-size, var(--size-6));
  display: flex;
  align-items: center;
  gap: 0.75em;
  width: 100%;

  @include max($responsiveMobile) {
    flex-direction: row;
    align-items: center;
    font-size: var(--heading-size, var(--size-5));
    gap: 0.5em;
    flex-wrap: wrap;
  }

  @include max(375px) {
    gap: 0.4em;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.15em;
}

.title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 300;
  letter-spacing: -0.015em;
  line-height: 1.4;
  @include ellipsis;

  svg {
    display: inline-block;
    color: var(--primary-medium);
    margin-left: 0.25em;
    font-size: 0.85em;
    vertical-align: middle;
  }
}

.description {
  font-size: 0.6em;
  color: var(--text-tertiary);
  line-height: 1.2;
}

.icon {
  font-size: var(--heading-icon, var(--size-13));
  background: linear-gradient(to top, var(--blue), rgba(var(--blue-rgb), 0.25));
  width: 1em;
  min-width: 1em;
  height: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.35em;
  padding: 0.275em;
  border: 1px solid var(--blue);

  @include max($responsiveMobile) {
    font-size: var(--heading-icon, var(--size-11));
    flex-shrink: 0;
  }

  @include max(375px) {
    font-size: var(--heading-icon, var(--size-10));
    flex-shrink: 0;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

.right {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 0.33em;

  @include max($responsiveMobile) {
    margin-left: auto;
    --btn-height: var(--button-small-height);
  }

  @include max(375px) {
    margin-top: 0.5em;
    width: 100%;
    justify-content: flex-start;
  }
}
