@use "styles/mixins" as *;

.tunnel {
  position: relative;
  will-change: transform;
  @include performance;
}

.lines {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 1;
  overflow: visible;
}

.path {
  stroke: var(--border-light);
  vector-effect: non-scaling-stroke;
}
