@use "@/styles/mixins" as *;

.state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  gap: 1rem;
  color: var(--text-secondary);

  &.background {
    background: var(--background-low);
    border: 1px solid var(--border-light);
    border-radius: var(--radius-m);
    @include backdrop;
  }

  p {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
  }

  svg {
    width: 3rem;
    height: 3rem;
    color: var(--text-secondary);
    opacity: 0.6;
  }
}

.loading {
  svg {
    animation: spin 1s linear infinite;
  }
}

.error {
  svg {
    color: var(--danger-medium);
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
